{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trip</h1>
    <div class="container table-responsive">
        <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                    <td><h3>Nombre:</h3></td>
                    <td><h3>{{ trip.name }}</h3></td>
                </tr>
                <tr>
                    <td><h3>Descripción:</h3></td>
                    <td><h3>{{ trip.description }}</h3></td>
                </tr>
                <tr>
                    <td><img src="{{ trip.urlPicture }}" class="img-circle"/></td>
                    <td><h4>Precio:</h4> {{ trip.price }} <br/><br/><br/><br/><br/><br/>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{{ path('trip_index') }}" class="btn btn-sm btn-default">Back to the list</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('trip_edit', { 'id': trip.id }) }}" class="btn btn-sm btn-default">Edit</a>
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('trip_delete', { 'id': trip.id }) }}" class="btn btn-sm btn-default">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
